body{
	font-family:open sans;
	font-size:16px;
	padding:0;
	margin:0;
	color:#444;
	line-height: 22px;
}

p {
margin: 0 0 20px;
}

a {
	color: #00a3b7;
}

.bs-docs-sidebar {
}

.content{
	max-width:1000px;
}
.section{
	display: block;
	width: 100%;
}
.section:after{
	display: block;
	content: "";
    height: 0;
    clear: both;
    visibility: hidden;
}
.wordbit{
	box-sizing:border-box;
	padding-right:20px;	
}
.codebit{
	background: #eee;
	padding: 20px;
	margin-top:40px;	
}
.codebit:after{
	content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
h1, h2, h3{
	font-family:roboto;
	font-weight:300;
}
h1{
	font-size:54px;
	line-height:60px;
	margin:30px 0 36px;
}
h2{
	font-size:36px;
	line-height:40px;
	margin:40px 0 23px;
}
h3{
	font-size:23px;
	line-height:32px;
	margin:25px 0 18px;
}

hr {
	margin:60px 0;
	border: 0 none;
	border-bottom: 2px solid #bbb;
}

.panel-do {
	color: #3c763d;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	padding: 20px;
}

.panel-do-not {
	color: #a94442;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	padding: 20px;
}

.navigation{
	width:200px;
	float:left;
}
.navigation ul{
	list-style-type:none;
	padding-left:20px;
}
.navigation a{
	text-decoration:none;
}
.navigation a:hover{
	text-decoration:underline;
}
.content{
	padding-left:200px;
}
.masthead{
	width:100%;
	background:#00bcd4;
	color:#fff;
	height:50px;
	margin:0;
	line-height:50px;
	padding-left:20px;
}
.v2-button--secondary{
	background-color:#888;
	box-shadow:none;
	border-radius:2px;
	padding:10px;
	text-decoration:none;
	text-transform:uppercase;
}
.v2-button--secondary:hover{
	background-color:#666;
	color:#fff;
}
.v2-button--secondary:active{
	background-color:#444;
}
.v2-button--tertiary{
	background-color:transparent;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:700;
	color:#009623;
}
.v2-button--tertiary:hover{
	text-decoration:underline;
}

/* Typography snippets  */ 
.title-1 {
	color: #444444;
	font-family: roboto; 
	font-size: 54px; 
	font-weight: 300; 
	letter-spacing -2px; 
	line-height: 60px;
	margin-bottom:40px;
	display: block;
}
.title-2 {
	color: #444444;
	font-family: roboto; 
	font-size: 36px; 
	font-weight: 300; 
	letter-spacing -1px; 
	line-height: 48px;	
	margin-bottom: 20px;
	display: block;
}
.title-3 {
	color: #444444;
	font-family: roboto; 
	font-size: 24px; 
	font-weight: 300; 
	letter-spacing -1px; 
	line-height: 32px;
	margin-bottom: 20px;
	display: block;
}
.title-4 {	
	color: #444444;
	font-family: roboto; 
	font-size: 18px; 
	font-weight: 400; 
	line-height: 24px;
	margin-bottom: 5px;
	display: block;
}
.copy {
	color:#444444;
	font-family: open sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	display: block;
}

.copy a {
	color: #009623;
	text-decoration: underline;
}

.copy a:hover {
	color:#26b11b;
}

.text-small {
	font-size: 12px;
	line-height: 18px;
}
/* Backgrounds & Panels */

.bg-1 {
	background-color: #00a3b7;
	padding: 50px;
}

.panel-1 {
	background-color: #;
	padding: 20px;
	width: 350px;
	height: 200px;
}

.text-center {
	text-align: center; 
}

.align-center {
	margin: 0 auto;
	display: inline-block;
}

/* Margins & Padding */

.margin-top-xs {
	margin-top: 10px;
}

.margin-top-small {
	margin-top: 20px;
}

.margin-left-xs {
	margin-left: 10px;
}

.margin-left-small {
	margin-left: 20px;
}

/* Buttons */

.v2-button{
	padding: 10px 15px;
	margin:10px;
	border-radius: 2px;
	border: none;
	font-weight: 700;
	white-space: nowrap;
	font-family: open sans;
}
.v2-button--primary{
	text-transform: uppercase;
	background-color: #ffb400;
	min-width: 100px;
	text-align: center;
	color: #fff;
}
.v2-button--secondary{
	text-transform: uppercase;
	background-color: #888;
	min-width: 100px;
	text-align: center;
	color: #fff;
}
.v2-button--tertiary{
	text-transform: uppercase;
	background-color:transparent;
	min-width: 100px;
	color: #444;
}
.v2-button--supplementary{
	background-color:transparent;
	min-width: 100px;
	color: #009623;
	text-decoration: underline;		}
pre{
	white-space: normal;
}


/* Responsive grid*/

	.rg-1of12 {
    width: 8.33333%; }
  .rg-2of12 {
    width: 16.66667%; }
  .rg-3of12 {
    width: 25%; }
  .rg-4of12 {
    width: 33.33333%; }
  .rg-5of12 {
    width: 41.66667%; }
  .rg-6of12 {
    width: 50%; }
  .rg-7of12 {
    width: 58.33333%; }
  .rg-8of12 {
    width: 66.66667%; }
  .rg-9of12 {
    width: 75%; }
  .rg-10of12 {
    width: 83.33333%; }
  .rg-11of12 {
    width: 91.66667%; }
  .rg-12of12 {
    width: 100%; }

.pull-left {
	float: left;
}

.clearfix {
	clear: both;
}

/* Form controls */

.control {
position: relative;
margin-bottom: 30px;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

.control-input {
	box-sizing: border-box;
	height: 40px;
	margin: 0;
	padding: 0 0 0 10px;
	font-size: 16px;
	outline: 0;
	border: 1px solid #888;
	border-radius: 2px;
	background-color: #fff;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.control-input-invalid {
	background: #ffdcdc;
	color: #a90000;
	border-color: #a90000;
	box-sizing: border-box;
	height: 40px;
	margin: 0;
	padding: 0 0 0 10px;
	font-size: 16px;
	outline: 0;
	border-radius: 2px;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.control-input--text {
	color: #545454;
	display: block;
	width: 100%;
	padding-right: 26px;
	line-height: 16px;
	-webkit-appearance: none;
}

.control-label {
	display: block;
	margin-bottom: 10px;
	color: #444;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.control-label--radio {
	background-color: #00781c;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 9px 20px 9px 10px;
	-webkit-transition: background 0.1s ease-in;
	-moz-transition: background 0.1s ease-in;
	transition: background 0.1s ease-in;
}


.control-input--select {
background: -webkit-linear-gradient(top,#fff,#eee);
background: -moz-linear-gradient(top,#fff,#eee);
background: -o-linear-gradient(top,#fff,#eee);
background: linear-gradient(to bottom,#fff,#eee);
border: 1px solid #b9b9b9;
border-radius: 3px;
line-height: 17px;
padding: 6px 14px 5px 10px;
box-shadow: 0 1px 0 0 #fff inset,0 1px 0 rgba(0,0,0,.05);
font-size: 13px;
color: #666;
cursor: pointer;
font-weight: 700;
width: 30%;
margin: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.select:before {
background: -webkit-linear-gradient(top,#fff,#eee);
background: -moz-linear-gradient(top,#fff,#eee);
background: -o-linear-gradient(top,#fff,#eee);
background: linear-gradient(to bottom,#fff,#eee);
border-radius: 0 3px 3px 0;
bottom: 2px;
box-shadow: 0 1px 0 0 #fff inset;
right: 1px;
top: 2px;
width: 30px;
}

.control-input--select:after {
width: 0;
height: 0;
border-style: solid;
border-color: transparent;
border-width: 7px 6.5px 0;
border-top-color: #999;
top: 13px;
right: 10px;
}

.tip {
-webkit-transition: opacity,margin,-webkit-transform;
-moz-transition: opacity,margin,-moz-transform;
-o-transition: opacity,margin,-o-transform;
transition: opacity,margin,-ms-transform;
transition: opacity,margin,transform;
-webkit-transition-duration: .2s;
-moz-transition-duration: .2s;
-o-transition-duration: .2s;
transition-duration: .2s;
-webkit-transition-timing-function: cubic-bezier(0.42,0,.58,1);
-moz-transition-timing-function: cubic-bezier(0.42,0,.58,1);
-o-transition-timing-function: cubic-bezier(0.42,0,.58,1);
transition-timing-function: cubic-bezier(0.42,0,.58,1);
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: absolute;
z-index: 10000;
color: #fff;
font-weight: 700;
font-size: 11px;
line-height: 15px;
background: #333;
border-radius: 3px;
padding: 15px;
margin-top: 8px;
}

.tip.south.is-visible {
margin-top: 8px;
}

.tip:after {
content: "";
display: block;
position: absolute;
border-style: solid;
border-color: transparent;
width: 0;
height: 0;
}

.tip.south:after {
border-width: 0 8px 8px;
border-bottom-color: #333;
top: -8px;
left: 50%;
margin-left: -4px;
}

/* icon */
.icon {
	background: no-repeat 0 center;
	display: inline-block;
	vertical-align: middle;
}

.icon__16 {
	background-size: 32px 32px;
	height: 32px;
	width: 32px;
}

.icon__32 {
	background-size: 32px 32px;
	height: 32px;
	width: 32px;
}

.icon__48 {
	background-size: 48px 48px;
	height: 48px;
	width: 48px;
}

.icon__64 {
	background-size: 64px 64px;
	height: 64px;
	width: 64px;
}

.icon__128 {
	background-size: 128px 128px;
	height: 128px;
	width: 128px;
}


/* Core Icons */
.icon-calendar {
	background-image: url(../assets/icons/core/icon-calendar.svg);
}

.icon-close-circle {
	background-image: url(../assets/icons/core/icon-close-circle.svg);
}

.icon-close-inverse {
	background-image: url(../assets/icons/core/icon-close-inverse.svg);
}

.icon-close {
	background-image: url(../assets/icons/core/icon-close.svg);
}

.icon-edit {
	background-image: url(../assets/icons/core/icon-edit.svg);
}

.icon-email {
	background-image: url(../assets/icons/core/icon-email.svg);
}

.icon-help-circle {
	background-image: url(../assets/icons/core/icon-help-circle.svg);
}

.icon-help-inverse {
	background-image: url(../assets/icons/core/icon-help-inverse.svg);
}

.icon-help {
	background-image: url(../assets/icons/core/icon-help.svg);
}

.icon-info-circle {
	background-image: url(../assets/icons/core/icon-info-circle.svg);
}

.icon-info-inverse {
	background-image: url(../assets/icons/core/icon-info-inverse.svg);
}

.icon-location {
	background-image: url(../assets/icons/core/icon-location.svg);
}

.icon-lock-inverse {
	background-image: url(../assets/icons/core/icon-lock-inverse.svg);
}

.icon-lock {
	background-image: url(../assets/icons/core/icon-lock.svg);
}

.icon-menu {
	background-image: url(../assets/icons/core/icon-menu.svg);
}

.icon-pdf-filled {
	background-image: url(../assets/icons/core/icon-pdf-filled.svg);
}

.icon-pdf {
	background-image: url(../assets/icons/core/icon-pdf.svg);
}

.icon-phone {
	background-image: url(../assets/icons/core/icon-phone.svg);
}

.icon-plus {
	background-image: url(../assets/icons/core/icon-plus.svg);
}

.icon-plus-circle {
	background-image: url(../assets/icons/core/icon-plus-circle.svg);
}

.icon-plus-inverse {
	background-image: url(../assets/icons/core/icon-plus-inverse.svg);
}

.icon-smartphone {
	background-image: url(../assets/icons/core/icon-smartphone.svg);
}

.icon-tick-circle {
	background-image: url(../assets/icons/core/icon-tick-circle.svg);
}

.icon-tick {
	background-image: url(../assets/icons/core/icon-tick.svg);
}

.icon-warning-inverse {
	background-image: url(../assets/icons/core/icon-warning-inverse.svg);
}

.icon-warning {
	background-image: url(../assets/icons/core/icon-warning.svg);
}

/* Feature Icons */
.icon-attachment {
	background-image: url(../assets/icons/core/icon-attachment.svg);
}

.icon-clock {
	background-image: url(../assets/icons/core/icon-clock.svg);
}

.icon-dollar-circle {
	background-image: url(../assets/icons/core/icon-dollar-circle.svg);
}

.icon-dollar-inverse {
	background-image: url(../assets/icons/core/icon-dollar-inverse.svg);
}

.icon-dollar {
	background-image: url(../assets/icons/core/icon-dollar.svg);
}

.icon-flag {
	background-image: url(../assets/icons/core/icon-flag.svg);
}

.icon-hospital {
	background-image: url(../assets/icons/core/icon-hospital.svg);
}

.icon-settings {
	background-image: url(../assets/icons/core/icon-settings.svg);
}

.icon-stopwatch {
	background-image: url(../assets/icons/core/icon-stopwatch.svg);
}

.icon-switching {
	background-image: url(../assets/icons/core/icon-switching.svg);
}

.icon-thumbs-up {
	background-image: url(../assets/icons/core/icon-thumbs-up.svg);
}

.icon-tools {
	background-image: url(../assets/icons/core/icon-tools.svg);
}

.icon-umbrella {
	background-image: url(../assets/icons/core/icon-umbrella.svg);
}

/* navigation */

.icon-arrow {
	background-image: url(../assets/icons/core/icon-arrow.svg);
}

.icon-chevron-circle {
	background-image: url(../assets/icons/core/icon-chevron-circle.svg);
}

.icon-chevron-inverse {
	background-image: url(../assets/icons/core/icon-chevron-inverse.svg);
}

.icon-chevron {
	background-image: url(../assets/icons/core/icon-chevron.svg);
}
